button {
  border: 1;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  appearance: none;
  text-align: left;
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
  outline: none;

}

.calculator__keys {
  background-color: rgb(148, 77, 240);
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}



